.row{
  margin-top: 20px;
  margin-bottom: 20px;
}

a{
  margin-left: 10px;
}
a:hover{
  cursor: pointer;
  cursor: hand;
}
.active{
  color: red;
}
.centered{
  margin: auto;
  max-width: 500px;
}
#search-bar{
  margin: auto;
  max-width: 300px;
}
